body {
  background-color: #fdfdf6;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: #b8b2a6;
}

.container {
  margin: 120px auto;
  max-width: 600px;
}

h1 {
  text-align: center;
  font-weight: 800;
  font-size: 36px;
  line-height: 1.5;
  color: gray;
}

.form-container {
  padding-top: 30px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #b8b2a6;
  box-shadow: 0px 4px 30px 0px rgba(39, 33, 66, 0.09);
  border-radius: 10px;
  margin-bottom: 30px;
}

header {
  margin-bottom: 30px;
}

form {
  display: flex;
}

.hint {
  font-size: 12px;
  line-height: 1.5;
  margin-top: 5px;
  opacity: 0.5;
}

.instructions {
  padding: 16px;
  border: 1px solid #b8b2a6;
  width: 80%;
  font-size: 16px;
  border-radius: 50px;
  color: #b8b2a6;
}

.submit-button {
  margin-left: 10px;
  background: #f4dada;
  color: gray;
  border: none;
  width: 150px;
  font-size: 16px;
  border-radius: 50px;
  padding: 14px 24px;
}

.output {
  font-size: 18px;
  padding: 20px;
  line-height: 24px;
  border-left: 5px solid #f4dada;
  box-shadow: 0px 4px 30px 0px rgba(39, 33, 66, 0.09);
  color: gray;
}

.output strong {
  color: #f4dada;
}

footer {
  text-align: center;
  font-size: 13px;
  margin-top: 30px;
}

.hidden {
    display: none;
}